.nav-item a {
    cursor: pointer;
}

.overlay {
    background: rgba(0,0,0,.8);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.overlay.active {
    visibility: visible;
}

.popup {
    border-top: #185B8A;
    background: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3); 
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    width: 400px;
    
    transition: .3s ease all;
    transform: scale(0.7);
    opacity: 0;
}

.popup .btn-cerrar-popup {
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    display: block;
    text-align: right;
    color: red;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover{
    color: #000;
    font-size: 16px;
}

.popup h3 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 0;
}

.popup h4 {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
    opacity: 0;
}

.popup form .contenedor-inputs {
    opacity: 0;
}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
    padding: 0px 20px;
    height: 40px;
    line-height: 40px;
    border: 2px solid #185B8A;
    color: white;
    background: #185B8A;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s ease all;
}

.popup form .btn-submit:hover{
    background: rgba(25, 25, 112, .8);
}

/*Animaciones y transisiones del popup*/

.popup.active {
    opacity: 1;
    transform: scale(1);
}

.popup.active h3 {
    animation: entradaTitulo .8s ease .5s forwards;
}

.popup.active h4 {
    animation: entradaSubtitulo .8s ease .5s forwards;
}

.popup.active .contenedor-inputs {
    animation: entradaInputs 1s ease 1s forwards;
}

@keyframes entradaTitulo {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaSubtitulo {
    from {
        transform: translateY(25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
